<!-- Self hosting open-props -->
{{- with resources.GetRemote "https://unpkg.com/open-props"}}
{{ with .Err }}
{{ errorf "%s" . }}
{{ else }}
<link rel="stylesheet" href="{{ .RelPermalink}}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
{{ end }}
{{- end}}

{{- with resources.GetRemote "https://unpkg.com/open-props/normalize.min.css"}}
{{ with .Err }}
{{ errorf "%s" . }}
{{ else }}
<link rel="stylesheet" href="{{ .RelPermalink}}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
{{ end }}
{{- end}}

{{- with resources.GetRemote "https://unpkg.com/open-props/buttons.min.css"}}
{{ with .Err }}
{{ errorf "%s" . }}
{{ else }}
<link rel="stylesheet" href="{{ .RelPermalink}}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
{{ end }}
{{- end}}