.recents {
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}

.recents .recent-group {
  display: grid;  
  grid-template-rows: auto 1fr;
  width: 100%;
  padding-block: var(--padding);
}

.recent-group h3 {
    padding-block: var(--padding)
}

.recent-group a {
    color: inherit;
}

.recent-previews {
    width: 100%;
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    padding-block: calc(var(--padding) / 2);
}

.recent-previews .preview {
    min-width: 300px;
}

