#list ol {
    display: flex;
    flex-direction: column;
  }
  
  #list ol a {
    font-weight: var(--font-weight-7);
    font-size: var(--font-size-5);
  }
  
  #list ol a:visited {
    filter: brightness(80%);
  }
  
  #story {
    grid-area: content;
    display: grid;
    grid-template-rows: auto 1fr;
  }
  
  
  #story>h1 {
    margin-top: 4rem;
    font-size: var(--font-size-8);
    justify-self: center;
    text-align: center;
  }
  
  #story>h2 {
    justify-self: center;
    text-align: center;
    font-size: var(--font-size-4);
    margin-block: 2rem;
  }
  
  #story article {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-self: center;
  }
  
  #story article>p {
    font-size: var(--font-size-4);
    text-indent: 2em;
  }
  
  #series-nav {
    min-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "previous . next";
  }
  
  #series-nav .previous {
    grid-area: previous;
  }
  
  #series-nav .next {
    justify-self: end;
    grid-area: next;
  }