<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<meta name="description" content="One of the personal websites of all time">
<meta name="og:description" content="One of the personal websites of all time">
<meta name="og:site_name" content="{{ site.Title }}">
<meta name="og:title" content="{{ site.Title }}">

<link rel="me" href="https://mecha.garden/@emerald" />

{{ with .OutputFormats.Get "rss" -}}
<!--prettier-ignore-->
{{ printf `<link rel=%q type=%q href=%q title=%q>` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
{{ end }}

<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>

{{ block "extraHead" . }}{{ end }}

{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
