{{ define "main" }}
<section id="story" class="h-entry">
  <h1 id="centered" class="p-name">{{ .Title }}</h1>
  {{ range (.GetTerms "series") }}
  {{ $series := . }}
  {{ with $.Params.series_order }}
  {{ $order := . }}
    <h2>Part {{$order}} of <a href="{{$series.RelPermalink}}">{{$series.LinkTitle}}</a></h2>
  {{ end }}
  {{ end }}

  <article class="e-content">{{ .Content }}</article>

  <hr style="margin-block: 2rem;"/>

  {{ range (.GetTerms "series") }}
  {{ $pageReached := false }}
  {{ $next := false }}
  {{ range .Pages.ByParam "series_order" }}
    {{ if not $next}}
        {{ if $pageReached }}
            {{ $next = . }}
        {{ else if eq .Permalink $.Permalink }}
            {{ $pageReached = true}}
        {{ end }}
    {{ end }}
  {{ end }}
  {{ $pageReached = false }}
  {{ $prev := false }}
  {{ range (.Pages.ByParam "series_order").Reverse }}
    {{ if not $prev}}
        {{ if $pageReached }}
            {{ $prev = . }}
        {{ else if eq .Permalink $.Permalink }}
            {{ $pageReached = true}}
        {{ end }}
    {{ end }}
  {{ end }}
  <div id="series-nav">
    {{ with $prev }}
    <div class="previous" style="text-align: left">
      <p class="faded">Previous in series:</p>
      <a href="{{ .RelPermalink }}"> {{ .LinkTitle }} </a>
    </div>
    {{ end }} {{ with $next }}

    <div class="next">
      <p class="faded">Next in series:</p>
      <a href="{{ .RelPermalink }}"> {{ .LinkTitle }}</a>
    </div>
    {{ end }}
  </div>
  {{ end }}
</section>
{{ end }}
