// @import '@fontsource/roboto';
// @import '@fontsource/space-mono';

// -- varaibles --//
html {
    --font-sans: 'Roboto', sans;
    --font-mono: 'Space Mono', mono;



    // -- light -- //
    --brand-light: var(--green-10-hsl);
    --text-1-light: var(--gray-11);
    --text-2-light: var(--gray-10);

    --surface-1-light: var(--gray-0);
    --surface-2-light: var(--gray-1);
    --surface-3-light: var(--gray-2);
    --surface-4-light: var(--gray-3);

    --border-light: var(--gray-4);


    // -- dark -- //
    --brand-dark: var(--green-4);
    --text-1-dark: var(--gray-3);
    --text-2-dark: var(--gray-4);

    --surface-1-dark: var(--gray-11);
    --surface-2-dark: var(--gray-10);
    --surface-3-dark: var(--gray-9);
    --surface-4-dark: var(--gray-8);

    --border-dark: var(--gray-7);

}

// -- light theme -- //
@media(prefers-color-scheme: light) {
    :root {
        color-scheme: light;

        --brand: var(--brand-light-hsl);
        --text-1: var(--text-1-light);
        --text-2: var(--text-2-light);

        --surface-1: var(--surface-1-light);
        --surface-2: var(--surface-2-light);
        --surface-3: var(--surface-3-light);
        --surface-4: var(--surface-4-light);

        --border: var(--border-light);
    }
}


[color-cheme="light"] {
    --brand: var(--brand-light);
    --text-1: var(--text-1-light);
    --text-2: var(--text-2-light);

    --surface-1: var(--surface-1-light);
    --surface-2: var(--surface-2-light);
    --surface-3: var(--surface-3-light);
    --surface-4: var(--surface-4-light);

    --border: var(--border-light);
}

// -- dark theme -- //
:root {
    color-scheme: dark;

    --brand: var(--brand-dark);
    --text-1: var(--text-1-dark);
    --text-2: var(--text-2-dark);

    --surface-1: var(--surface-1-dark);
    --surface-2: var(--surface-2-dark);
    --surface-3: var(--surface-3-dark);
    --surface-4: var(--surface-4-dark);

    --border: var(--border-dark);

}


[color-scheme="dark"] {
    --brand: var(--brand-dark);
    --text-1: var(--text-1-dark);
    --text-2: var(--text-2-dark);

    --surface-1: var(--surface-1-dark);
    --surface-2: var(--surface-2-dark);
    --surface-3: var(--surface-3-dark);
    --surface-4: var(--surface-4-dark);

    --border: var(--border-dark);
}

// -- styles -- //

html,
body {
    height: 100%;
    font-family: var(--font-sans);
    color: var(--text-1);
    background-color: var(--surface-1);
}

ul,
ol {
    list-style: none;
}

h1,
h2,
h3,
h4,
p,
dt {
    color: var(--text-1);
}

h5,
h6,
small,
dd {
    color: var(--text-2);
}

a {
    color: var(--brand);

    &:hover {
        text-decoration-color: var(--brand);
    }
    
    &:visited {
        filter: brightness(85%);
    }
    
}


.surface-1 {
    background-color: var(--surface-1);
    color: var(--text-2);
}

.surface-2 {
    background-color: var(--surface-2);
    color: var(--text-2);
}

.surface-3 {
    background-color: var(--surface-3);
    color: var(--text-1);
}

.surface-4 {
    background-color: var(--surface-4);
    color: var(--text-1);
}

.post {
    h1, h2, h3, h4, h5, h6  {
        margin-block: var(--size-4);
    }

    p {
        text-indent: 4ch;
        margin-block: var(--size-2)
    }

    del {
        background-color: transparent;
        color: inherit
    }
}